.DS_Store
.swiftpm
SampleApp/C7DetectSampleApp.xcodeproj/project.xcworkspace/xcshareddata/
SampleApp/C7DetectSampleApp.xcodeproj/project.xcworkspace/xcuserdata/
SampleApp/C7DetectSampleApp.xcodeproj/xcuserdata/